<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{__ 'Title'}}</title>
    <!-- Tell the browser to be responsive to screeån width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- flag-icon-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


    <!-- iCheck -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}dist/css/adminlte.min{{? LNG '==' 'ar' '.rtl' ''}}.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/daterangepicker/daterangepicker{{? LNG '==' 'ar' '.rtl' ''}}.css">
    <!-- summernote -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/summernote/summernote-bs4.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/datatables-bs4/css/dataTables.bootstrap4.css">


    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/toastr/toastr.min.css">

    <!-- bcp Color picker -->
    <link href="{{CONFIG.BASE_URL}}dist/css/bcp.css" rel="stylesheet" />

    <!-- Counter-->
    <link href="{{CONFIG.BASE_URL}}dist/css/jquery.countup.css" rel="stylesheet" />

    <!-- Ion Slider -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/ion-rangeslider/css/ion.rangeSlider.min.css" />
    <!-- bootstrap slider -->
    <link rel="stylesheet"  href="{{CONFIG.BASE_URL}}plugins/bootstrap-slider/css/bootstrap-slider.min.css" />

    <!-- summernote -->
    <link rel="stylesheet" href="{{CONFIG.BASE_URL}}plugins/summernote/summernote-bs4.css" />



    <script>
        const BASE_URL = '{{CONFIG.BASE_URL}}'
    </script>




</head>
