



    <!-- Main content -->
    <section class="content">
<!--      <div class="container-fluid">-->
<!--        &lt;!&ndash; Small boxes (Stat box) &ndash;&gt;-->
<!--        <div class="row">-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-info">-->
<!--              <div class="inner">-->
<!--                <h3>{{TotalVehicles}}</h3>-->

<!--                <p>{{__ 'Total Vehicles'}}</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-android-car"></i>-->
<!--              </div>-->
<!--              <a href="/vehicle" class="small-box-footer">{{__ 'More info'}} <i class="fas fa-arrow-circle-{{? LNG '==' 'ar' 'left' 'right'}}"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-success">-->
<!--              <div class="inner">-->
<!--                <h3>{{VehicleIn}}</h3>-->

<!--                <p>{{__ 'Vehicle Avalable'}}</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-android-car"></i>-->
<!--              </div>-->
<!--                <a href="/trip/start" class="small-box-footer">{{__ 'More info'}} <i class="fas fa-arrow-circle-{{? LNG '==' 'ar' 'left' 'right'}}"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-warning">-->
<!--              <div class="inner">-->
<!--                <h3>{{VehicleOut}}</h3>-->

<!--                <p>{{__ 'Vehicle Outside'}}</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-android-car"></i>-->
<!--              </div>-->
<!--                <a href="/trip/manage" class="small-box-footer">{{__ 'More info'}} <i class="fas fa-arrow-circle-{{? LNG '==' 'ar' 'left' 'right'}}"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-danger">-->
<!--              <div class="inner">-->
<!--                <h3>{{VehicleOnWork}}<h3>-->

<!--                <p>{{__ 'Vehicle on Garage'}}</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-android-car"></i>-->
<!--              </div>-->
<!--                <a href="/workOrder/manage" class="small-box-footer">{{__ 'More info'}} <i class="fas fa-arrow-circle-{{? LNG '==' 'ar' 'left' 'right'}}"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.row &ndash;&gt;-->
<!--        &lt;!&ndash; Main row &ndash;&gt;-->
<!--        <div class="row">-->
<!--          &lt;!&ndash; Left col &ndash;&gt;-->
<!--&lt;!&ndash;         <section class="col-lg-7 connectedSortable">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; Custom tabs (Charts with tabs)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="card-title">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-chart-pie mr-1"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Sales&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  <ul class="nav nav-pills ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; /.card-header &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="tab-content p-0">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; Morris chart - Sales &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="chart tab-pane active" id="revenue-chart"&ndash;&gt;-->
<!--&lt;!&ndash;                       style="position: relative; height: 300px;">&ndash;&gt;-->
<!--&lt;!&ndash;                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;                   </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; DIRECT CHAT &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card direct-chat direct-chat-primary">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="card-title">Direct Chat</h3>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span data-toggle="tooltip" title="3 New Messages" class="badge badge-primary">3</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn btn-tool" data-card-widget="collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-minus"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"&ndash;&gt;-->
<!--&lt;!&ndash;                          data-widget="chat-pane-toggle">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-comments"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-header &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; Conversations are loaded here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="direct-chat-messages">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; Message. Default to the left &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="direct-chat-msg">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-infos clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-name float-left">Alexander Pierce</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-infos &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-img &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-text">&ndash;&gt;-->
<!--&lt;!&ndash;                      Is this template really for free? That's unbelievable!&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-text &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; /.direct-chat-msg &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                  &lt;!&ndash; Message to the right &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="direct-chat-msg right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-infos clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-name float-right">Sarah Bullock</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-infos &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-img &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-text">&ndash;&gt;-->
<!--&lt;!&ndash;                      You better believe it!&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-text &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; /.direct-chat-msg &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                  &lt;!&ndash; Message. Default to the left &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="direct-chat-msg">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-infos clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-name float-left">Alexander Pierce</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-infos &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-img &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-text">&ndash;&gt;-->
<!--&lt;!&ndash;                      Working with AdminLTE on a great new app! Wanna join?&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-text &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; /.direct-chat-msg &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                  &lt;!&ndash; Message to the right &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="direct-chat-msg right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-infos clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-name float-right">Sarah Bullock</span>&ndash;&gt;-->
<!--&lt;!&ndash;                      <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-infos &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-img &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="direct-chat-text">&ndash;&gt;-->
<!--&lt;!&ndash;                      I would love to.&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; /.direct-chat-text &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; /.direct-chat-msg &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;/.direct-chat-messages&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;                &lt;!&ndash; Contacts are loaded here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="direct-chat-contacts">&ndash;&gt;-->
<!--&lt;!&ndash;                  <ul class="contacts-list">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user1-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Count Dracula&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">2/28/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">How have you been? I was...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user7-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Sarah Doe&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">2/23/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">I will be waiting for...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user3-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Nadia Jolie&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">2/20/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">I'll call you back at...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user5-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Nora S. Vans&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">2/10/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">Where is your new...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user6-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            John K.&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">1/27/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">Can I take a look at...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                        <img class="contacts-list-img" src="dist/img/user8-128x128.jpg">&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="contacts-list-info">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-name">&ndash;&gt;-->
<!--&lt;!&ndash;                            Kenneth M.&ndash;&gt;-->
<!--&lt;!&ndash;                            <small class="contacts-list-date float-right">1/4/2015</small>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="contacts-list-msg">Never mind I found...</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        &lt;!&ndash; /.contacts-list-info &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; End Contact Item &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; /.contacts-list &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; /.direct-chat-pane &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                <form action="#" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button type="button" class="btn btn-primary">Send</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-footer&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;/.direct-chat &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; TO DO List &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="card-title">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="ion ion-clipboard mr-1"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  To Do List&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  <ul class="pagination pagination-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item"><a href="#" class="page-link">1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item"><a href="#" class="page-link">2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item"><a href="#" class="page-link">3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-header &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <ul class="todo-list" data-widget="todo-list">&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; drag handle &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; checkbox &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo1" id="todoCheck1">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck1"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; todo text &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Design a nice theme</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; Emphasis label &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash; General tools such as edit or delete&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo2" id="todoCheck2" checked>&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck2"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Make the theme responsive</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo3" id="todoCheck3">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck3"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Let theme shine like a star</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-warning"><i class="far fa-clock"></i> 1 day</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo4" id="todoCheck4">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck4"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Let theme shine like a star</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-success"><i class="far fa-clock"></i> 3 days</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo5" id="todoCheck5">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck5"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Check your messages and notifications</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-primary"><i class="far fa-clock"></i> 1 week</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                  <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="handle">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-ellipsis-v"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div  class="icheck-primary d-inline ml-2">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="checkbox" value="" name="todo6" id="todoCheck6">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label for="todoCheck6"></label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="text">Let theme shine like a star</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <small class="badge badge-secondary"><i class="far fa-clock"></i> 1 month</small>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="tools">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-edit"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-trash-o"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-footer clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add item</button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </section>&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash; /.Left col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash; right col (We are only adding the ID to make the widgets sortable)&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <section class="col-lg-5 connectedSortable">&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; Map card &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card bg-gradient-primary">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header border-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="card-title">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-map-marker-alt mr-1"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Visitors&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; card tools &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button"&ndash;&gt;-->
<!--&lt;!&ndash;                          class="btn btn-primary btn-sm daterange"&ndash;&gt;-->
<!--&lt;!&ndash;                          data-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                          title="Date range">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="far fa-calendar-alt"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button"&ndash;&gt;-->
<!--&lt;!&ndash;                          class="btn btn-primary btn-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                          data-card-widget="collapse"&ndash;&gt;-->
<!--&lt;!&ndash;                          data-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                          title="Collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-minus"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; /.card-tools &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <div id="world-map" style="height: 250px; width: 100%;"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-body&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-footer bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div id="sparkline-1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="text-white">Visitors</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div id="sparkline-2"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="text-white">Online</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div id="sparkline-3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="text-white">Sales</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; /.row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; solid sales graph &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card bg-gradient-info">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header border-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="card-title">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-th mr-1"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Sales Graph&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->

<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-minus"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-times"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-footer bg-transparent">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"&ndash;&gt;-->
<!--&lt;!&ndash;                           data-fgColor="#39CCCC">&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="text-white">Mail-Orders</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"&ndash;&gt;-->
<!--&lt;!&ndash;                           data-fgColor="#39CCCC">&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="text-white">Online</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="col-4 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"&ndash;&gt;-->
<!--&lt;!&ndash;                           data-fgColor="#39CCCC">&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="text-white">In-Store</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; ./col &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; /.row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-footer &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; Calendar &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card bg-gradient-success">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-header border-0">&ndash;&gt;-->

<!--&lt;!&ndash;                <h3 class="card-title">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="far fa-calendar-alt"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Calendar&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; tools card &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="card-tools">&ndash;&gt;-->
<!--&lt;!&ndash;                  &lt;!&ndash; button with a dropdown &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="btn-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-bars"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="dropdown-menu float-right" role="menu">&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#" class="dropdown-item">Add new event</a>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#" class="dropdown-item">Clear events</a>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <a href="#" class="dropdown-item">View calendar</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->

<!--&lt;!&ndash;                  <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-minus"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fas fa-times"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; /. tools &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-header &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="card-body pt-0">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;The calendar &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div id="calendar" style="width: 100%"></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              &lt;!&ndash; /.card-body &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; /.card &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </section>&ndash;&gt;-->
<!--          &lt;!&ndash; right col &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.row (main row) &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    </section>

<!--    &lt;!&ndash; AdminLTE dashboard demo (This is only for demo purposes) &ndash;&gt;-->
<!--    <script src="{{CONFIG.BASE_URL}}dist/js/pages/dashboard.js"></script>-->



