

    <!-- Main content -->
    <section class="content">


          <div class="card">
            <div class="card-header">
                <div class="row">

                    <div class="col-md-1">
                        <label for="NameEn">{{__ 'From'}}</label>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="date" class="form-control"  name="From" id="From" value="{{dateToChrome CurrentDate}}" dir="rtl"/>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <label for="NameEn">{{__ 'to'}}</label>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="date" class="form-control"  name="To" id="To" value="{{dateToChrome CurrentDate}}" dir="rtl"/>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button class="card-title" style="float: left" onclick="DateChange()" >
                            {{__ 'View'}}
                        </button>
                    </div>

                    <div class="col-md-5">
                    </div>
                </div>


            </div>

            <div class="card-body" id="TableData">





            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


    <script type="text/javascript">

        $(function () {
            DateChange()
        })


        function DateChange(){

            let From = $('#From').val()
            let To = $('#To').val()

            $.ajax({
                url: '/logs/table/'+From+'/'+To,
                type: 'get',
                success: function(data) {
                    if(data){
                        $('#TableData').html(data)
                    }

                },
                error: function(xhr, desc, err) {
                    console.log(xhr);
                    console.log("Details: " + desc + "\nError:" + err);
                }
            }); // end ajax call





        }
    </script>


